:not(pre)>code[class*=language-], pre[class*=language-] {
    background: #fbfbfd;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    color: #ca473f;
    padding: 1px;
}
pre[class*=language-] {
    padding: 1em 0 0 0;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}

code[class*=language-], pre[class*=language-] {
    color: #090910;
    background: none;
    text-align: left;
    /*white-space: pre;*/
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code {
    font-weight: 500;
    line-height: 1.9;
    color: #090910;
    font-size: 120%;

}
.token.class-name, .token.function {
    color: #ca473f;
}
.code-style{
    display: block;
    font-size: 120%;
    width: 100%;
    color: #ca473f;
    background-color: #fafafa;
    padding: 1rem .8rem 10px .8rem;
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.6;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
textarea.code-style{
    resize: none;
    overflow: auto;
    min-height: 600px;
}
.links-types a.active{
    color:var(--secondary);
}
